---

---

<header class='layout-ws'>
  <a href='#' class='logo'>Ringston</a>
  <a href='#' class='collection'>
    <span>Ring Collection</span>
    <svg
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <circle
        cx='11.8533'
        cy='11.6795'
        r='9.89771'
        stroke='white'
        stroke-width='3'></circle>
    </svg>
  </a>
</header>

<style>
  header {
    position: absolute;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    font-weight: bold;

    a.logo {
      font-size: 1.3rem;
      color: black;
    }

    a.collection {
      display: flex;
      align-content: center;
      gap: 0.5em;
      color: white;
    }
  }
</style>
